<img src="http://www.digitalvidya.com/wp-content/uploads/2013/05/logoa5-300x95.png">

## Data Analysis using Python Assignment
### Digital Vidya Copyright

Load the ipl dataset deliveries.csv into a pandas dataframe and answer the quesions based on this dataset.

In [1]:
import pandas as pd

deliveries = pd.read_csv(r'C:\Users\Prasad\Downloads\CSVs\IPL dataset\deliveries.csv')
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [2]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [3]:
deliveries['inning'].unique()

array([1, 2, 3, 4], dtype=int64)

# 1. How many total extra runs have been given in the ipl matches?

In [4]:
deliveries['extra_runs'].value_counts()

0    129129
1      6605
2       343
4       275
5       193
3        52
7         1
Name: extra_runs, dtype: int64

# 2. Which bowler bowled maximum number of overs? How many overs?

In [5]:
deliveries.groupby('bowler')['over'].max()

bowler
A Ashish Reddy      20
A Chandila          17
A Flintoff          20
A Kumble            20
A Mishra            20
A Mithun            20
A Nehra             20
A Nel               19
A Singh             20
A Symonds           20
A Uniyal            19
A Zampa             20
AA Chavan           20
AA Jhunjhunwala     18
AA Kazi             14
AA Noffke           18
AB Agarkar          20
AB Dinda            20
AB McDonald         20
AC Gilchrist        20
AC Thomas           20
AC Voges            17
AD Mascarenhas      18
AD Mathews          20
AD Russell          20
AF Milne            18
AG Murtaza          19
AJ Finch            17
AL Menaria          17
AM Nayar            20
                    ..
T Henderson         19
T Shamsi            19
T Thushara          20
TA Boult            20
TG Southee          20
TL Suman            18
TM Dilshan          20
TP Sudhindra        19
UT Yadav            20
Umar Gul            20
V Kohli             20
V Pratap Singh      20
V Sehwag            20
V Shankar           10
VR Aaron            20
VRV Singh           20
VS Malik            20
VS Yeligati         19
VY Mahesh           20
WA Mota             18
WD Parnell          20
WPUJC Vaas          20
Y Gnaneswara Rao    11
Y Nagar             15
Y Venugopal Rao     18
YA Abdulla          20
YK Pathan           20
YS Chahal           20
Yuvraj Singh        19
Z Khan              20
Name: over, Length: 334, dtype: int64

# 3. Who is the highest run scorer in this dataset? How many runs?

In [6]:
Max = deliveries['total_runs'].max()
deliveries.loc[deliveries['total_runs'] >= 7]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1539,7,1,Deccan Chargers,Delhi Daredevils,20,6,WPUJC Vaas,RP Singh,VY Mahesh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
4675,20,2,Delhi Daredevils,Chennai Super Kings,7,3,V Sehwag,G Gambhir,Joginder Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
9308,40,2,Mumbai Indians,Kolkata Knight Riders,6,3,ST Jayasuriya,DJ Thornely,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
10814,47,2,Mumbai Indians,Kings XI Punjab,20,1,SD Chitnis,CRD Fernando,VRV Singh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
11796,51,2,Chennai Super Kings,Rajasthan Royals,19,5,JA Morkel,MS Gony,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
15389,67,2,Kolkata Knight Riders,Rajasthan Royals,16,6,SC Ganguly,Yashpal Singh,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
22685,97,2,Royal Challengers Bangalore,Kolkata Knight Riders,18,6,MV Boucher,LRPL Taylor,I Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
24770,106,1,Delhi Daredevils,Rajasthan Royals,19,2,AB de Villiers,KD Karthik,MM Patel,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
26842,114,2,Royal Challengers Bangalore,Chennai Super Kings,19,1,LRPL Taylor,V Kohli,JDP Oram,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
33254,141,1,Delhi Daredevils,Kolkata Knight Riders,14,6,DA Warner,PD Collingwood,AB Agarkar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
33908,143,2,Chennai Super Kings,Royal Challengers Bangalore,19,6,SK Raina,C Ganapathy,R Vinay Kumar,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
42105,178,1,Kochi Tuskers Kerala,Royal Challengers Bangalore,6,2,VVS Laxman,BB McCullum,A Mithun,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
45038,190,1,Deccan Chargers,Kings XI Punjab,18,2,DT Christian,MS Gony,R McLaren,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
51023,215,2,Kochi Tuskers Kerala,Delhi Daredevils,4,6,BB McCullum,M Klinger,UT Yadav,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
53152,224,2,Royal Challengers Bangalore,Kochi Tuskers Kerala,3,2,CH Gayle,TM Dilshan,P Parameswaran,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
58228,247,1,Royal Challengers Bangalore,Mumbai Indians,19,3,AB de Villiers,SS Tiwary,AN Ahmed,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
66653,282,2,Pune Warriors,Deccan Chargers,17,1,SPD Smith,M Manhas,J Theron,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
68266,289,1,Deccan Chargers,Pune Warriors,19,6,KC Sangakkara,CL White,A Nehra,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
71243,301,2,Royal Challengers Bangalore,Mumbai Indians,11,6,CH Gayle,V Kohli,PP Ojha,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
74031,313,1,Royal Challengers Bangalore,Delhi Daredevils,17,3,CH Gayle,V Kohli,UT Yadav,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
75259,318,1,Rajasthan Royals,Mumbai Indians,17,6,AL Menaria,OA Shah,RP Singh,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
78994,333,2,Royal Challengers Bangalore,Kolkata Knight Riders,16,4,CH Gayle,AB de Villiers,JH Kallis,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
79591,336,1,Mumbai Indians,Pune Warriors,17,3,RG Sharma,KA Pollard,AB Dinda,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
87813,370,1,Royal Challengers Bangalore,Kings XI Punjab,19,3,CH Gayle,V Kohli,P Awana,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
91509,385,2,Mumbai Indians,Sunrisers Hyderabad,18,5,KA Pollard,RG Sharma,A Mishra,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
98231,414,2,Delhi Daredevils,Mumbai Indians,5,2,M Vijay,Q de Kock,SL Malinga,0,...,0,0,0,5,0,7,7,NaN,NaN,NaN
101944,429,2,Royal Challengers Bangalore,Kings XI Punjab,16,3,AB de Villiers,MA Starc,L Balaji,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
102839,433,2,Rajasthan Royals,Royal Challengers Bangalore,18,6,SPD Smith,JP Faulkner,AB Dinda,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
103698,437,1,Sunrisers Hyderabad,Kings XI Punjab,19,4,NV Ojha,MC Henriques,Sandeep Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
107386,452,2,Kolkata Knight Riders,Sunrisers Hyderabad,5,3,G Gambhir,RV Uthappa,JO Holder,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
110811,466,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,8,S Dhawan,KL Rahul,AN Ahmed,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
116583,492,1,Sunrisers Hyderabad,Chennai Super Kings,3,3,DA Warner,S Dhawan,MM Sharma,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
119726,504,2,Rajasthan Royals,Chennai Super Kings,20,1,CH Morris,Ankit Sharma,DJ Bravo,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN
134047,567,1,Royal Challengers Bangalore,Kings XI Punjab,7,5,V Kohli,CH Gayle,KC Cariappa,0,...,0,0,1,0,6,1,7,NaN,NaN,NaN

# 4. Return a dataframe with total runs scored by each team per match. 
# The resulting dataframe should have 1152 rows and 4 columns and look like the df given below.

In [7]:

d = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Royal Challengers Bangalore',
  2: 'Chennai Super Kings',
  3: 'Kings XI Punjab',
  4: 'Delhi Daredevils'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Kolkata Knight Riders',
  2: 'Kings XI Punjab',
  3: 'Chennai Super Kings',
  4: 'Rajasthan Royals'},
 'match_id': {0: 1, 1: 1, 2: 2, 3: 2, 4: 3},
 'total_runs': {0: 222, 1: 82, 2: 240, 3: 207, 4: 132}}
df = pd.DataFrame(d)
df

,batting_team,bowling_team,match_id,total_runs
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,222
1,Royal Challengers Bangalore,Kolkata Knight Riders,1,82
2,Chennai Super Kings,Kings XI Punjab,2,240
3,Kings XI Punjab,Chennai Super Kings,2,207
4,Delhi Daredevils,Rajasthan Royals,3,132

In [8]:
Format = ['batting_team','bowling_team','match_id']
deliveries.groupby(Format)['total_runs'].sum().reset_index().sort_values(by = 'match_id')

,batting_team,bowling_team,match_id,total_runs
1021,Royal Challengers Bangalore,Kolkata Knight Riders,1,82
608,Kolkata Knight Riders,Royal Challengers Bangalore,1,222
26,Chennai Super Kings,Kings XI Punjab,2,240
355,Kings XI Punjab,Chennai Super Kings,2,207
296,Delhi Daredevils,Rajasthan Royals,3,132
846,Rajasthan Royals,Delhi Daredevils,3,129
748,Mumbai Indians,Royal Challengers Bangalore,4,165
1039,Royal Challengers Bangalore,Mumbai Indians,4,166
163,Deccan Chargers,Kolkata Knight Riders,5,110
519,Kolkata Knight Riders,Deccan Chargers,5,112
446,Kings XI Punjab,Rajasthan Royals,6,166
862,Rajasthan Royals,Kings XI Punjab,6,168
141,Deccan Chargers,Delhi Daredevils,7,142
222,Delhi Daredevils,Deccan Chargers,7,143
61,Chennai Super Kings,Mumbai Indians,8,208
635,Mumbai Indians,Chennai Super Kings,8,202
837,Rajasthan Royals,Deccan Chargers,9,217
186,Deccan Chargers,Rajasthan Royals,9,214
422,Kings XI Punjab,Mumbai Indians,10,182
687,Mumbai Indians,Kings XI Punjab,10,116
1063,Royal Challengers Bangalore,Rajasthan Royals,11,135
915,Rajasthan Royals,Royal Challengers Bangalore,11,138
503,Kolkata Knight Riders,Chennai Super Kings,12,147
45,Chennai Super Kings,Kolkata Knight Riders,12,152
172,Deccan Chargers,Mumbai Indians,13,155
657,Mumbai Indians,Deccan Chargers,13,154
235,Delhi Daredevils,Kings XI Punjab,14,158
382,Kings XI Punjab,Delhi Daredevils,14,162
106,Chennai Super Kings,Royal Challengers Bangalore,15,178
951,Royal Challengers Bangalore,Chennai Super Kings,15,165
...,...,...,...,...
488,Kings XI Punjab,Sunrisers Hyderabad,563,179
1114,Sunrisers Hyderabad,Kings XI Punjab,563,180
289,Delhi Daredevils,Mumbai Indians,564,126
684,Mumbai Indians,Delhi Daredevils,564,206
625,Kolkata Knight Riders,Royal Challengers Bangalore,565,183
1038,Royal Challengers Bangalore,Kolkata Knight Riders,565,186
313,Delhi Daredevils,Rising Pune Supergiants,566,121
938,Rising Pune Supergiants,Delhi Daredevils,566,76
480,Kings XI Punjab,Royal Challengers Bangalore,567,120
1018,Royal Challengers Bangalore,Kings XI Punjab,567,211
546,Kolkata Knight Riders,Gujarat Lions,568,124
344,Gujarat Lions,Kolkata Knight Riders,568,125
338,Delhi Daredevils,Sunrisers Hyderabad,569,161
1103,Sunrisers Hyderabad,Delhi Daredevils,569,158
462,Kings XI Punjab,Rising Pune Supergiants,570,172
942,Rising Pune Supergiants,Kings XI Punjab,570,173
346,Gujarat Lions,Mumbai Indians,571,173
686,Mumbai Indians,Gujarat Lions,571,172
1122,Sunrisers Hyderabad,Kolkata Knight Riders,572,149
633,Kolkata Knight Riders,Sunrisers Hyderabad,572,171
997,Royal Challengers Bangalore,Delhi Daredevils,573,139
330,Delhi Daredevils,Royal Challengers Bangalore,573,138
1000,Royal Challengers Bangalore,Gujarat Lions,574,159
351,Gujarat Lions,Royal Challengers Bangalore,574,158
634,Kolkata Knight Riders,Sunrisers Hyderabad,575,140
1123,Sunrisers Hyderabad,Kolkata Knight Riders,575,162
1106,Sunrisers Hyderabad,Gujarat Lions,576,163
354,Gujarat Lions,Sunrisers Hyderabad,576,162
1089,Royal Challengers Bangalore,Sunrisers Hyderabad,577,200
1151,Sunrisers Hyderabad,Royal Challengers Bangalore,577,208

In [9]:
#5. Return a dataframe with the bowling details for bowlers for each match. The resulting df will have 6866 rows 
# and 6 columns and should look like the df given below.

d1 = {'batting_team': {0: 'Kolkata Knight Riders',
  1: 'Kolkata Knight Riders',
  2: 'Kolkata Knight Riders',
  3: 'Kolkata Knight Riders',
  4: 'Kolkata Knight Riders',
  5: 'Kolkata Knight Riders',
  6: 'Royal Challengers Bangalore',
  7: 'Royal Challengers Bangalore',
  8: 'Royal Challengers Bangalore',
  9: 'Royal Challengers Bangalore'},
 'bowler': {0: 'AA Noffke',
  1: 'CL White',
  2: 'JH Kallis',
  3: 'P Kumar',
  4: 'SB Joshi',
  5: 'Z Khan',
  6: 'AB Agarkar',
  7: 'AB Dinda',
  8: 'I Sharma',
  9: 'LR Shukla'},
 'bowling_team': {0: 'Royal Challengers Bangalore',
  1: 'Royal Challengers Bangalore',
  2: 'Royal Challengers Bangalore',
  3: 'Royal Challengers Bangalore',
  4: 'Royal Challengers Bangalore',
  5: 'Royal Challengers Bangalore',
  6: 'Kolkata Knight Riders',
  7: 'Kolkata Knight Riders',
  8: 'Kolkata Knight Riders',
  9: 'Kolkata Knight Riders'},
 'extra_runs': {0: 6, 1: 2, 2: 5, 3: 4, 4: 0, 5: 0, 6: 4, 7: 2, 8: 7, 9: 3},
 'match_id': {0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1},
 'total_runs': {0: 41,
  1: 24,
  2: 52,
  3: 41,
  4: 26,
  5: 38,
  6: 25,
  7: 9,
  8: 13,
  9: 12}}
df = pd.DataFrame(d1)

In [10]:
df

,batting_team,bowler,bowling_team,extra_runs,match_id,total_runs
0,Kolkata Knight Riders,AA Noffke,Royal Challengers Bangalore,6,1,41
1,Kolkata Knight Riders,CL White,Royal Challengers Bangalore,2,1,24
2,Kolkata Knight Riders,JH Kallis,Royal Challengers Bangalore,5,1,52
3,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,4,1,41
4,Kolkata Knight Riders,SB Joshi,Royal Challengers Bangalore,0,1,26
5,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,0,1,38
6,Royal Challengers Bangalore,AB Agarkar,Kolkata Knight Riders,4,1,25
7,Royal Challengers Bangalore,AB Dinda,Kolkata Knight Riders,2,1,9
8,Royal Challengers Bangalore,I Sharma,Kolkata Knight Riders,7,1,13
9,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,3,1,12

In [11]:
#deliveries.groupby(['batting_team','bowler','bowling_team','extra_runs','match_id'])['total_runs'].sum().reset_index().sort_values(by= 'match_id')
deliveries.groupby(['batting_team','bowler','bowling_team','match_id']).agg({'total_runs':sum,'extra_runs':sum}).reset_index().sort_values(by = 'match_id')

,batting_team,bowler,bowling_team,match_id,total_runs,extra_runs
3668,Kolkata Knight Riders,SB Joshi,Royal Challengers Bangalore,1,26,0
3183,Kolkata Knight Riders,CL White,Royal Challengers Bangalore,1,24,2
6058,Royal Challengers Bangalore,LR Shukla,Kolkata Knight Riders,1,12,3
3092,Kolkata Knight Riders,AA Noffke,Royal Challengers Bangalore,1,41,6
3822,Kolkata Knight Riders,Z Khan,Royal Challengers Bangalore,1,38,0
3501,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,1,41,4
6338,Royal Challengers Bangalore,SC Ganguly,Kolkata Knight Riders,1,23,3
3343,Kolkata Knight Riders,JH Kallis,Royal Challengers Bangalore,1,52,5
5722,Royal Challengers Bangalore,AB Agarkar,Kolkata Knight Riders,1,25,4
5727,Royal Challengers Bangalore,AB Dinda,Kolkata Knight Riders,1,9,2
5925,Royal Challengers Bangalore,I Sharma,Kolkata Knight Riders,1,13,7
103,Chennai Super Kings,B Lee,Kings XI Punjab,2,36,2
748,Chennai Super Kings,WA Mota,Kings XI Punjab,2,24,2
241,Chennai Super Kings,IK Pathan,Kings XI Punjab,2,47,0
2598,Kings XI Punjab,MS Gony,Chennai Super Kings,2,43,3
2549,Kings XI Punjab,M Muralitharan,Chennai Super Kings,2,35,4
311,Chennai Super Kings,JR Hopes,Kings XI Punjab,2,54,1
454,Chennai Super Kings,PP Chawla,Kings XI Punjab,2,19,0
603,Chennai Super Kings,S Sreesanth,Kings XI Punjab,2,35,1
2441,Kings XI Punjab,JDP Oram,Chennai Super Kings,2,37,0
2621,Kings XI Punjab,P Amarnath,Chennai Super Kings,2,45,3
2482,Kings XI Punjab,Joginder Sharma,Chennai Super Kings,2,47,1
315,Chennai Super Kings,K Goel,Kings XI Punjab,2,25,0
2023,Delhi Daredevils,YK Pathan,Rajasthan Royals,3,17,1
1914,Delhi Daredevils,SK Warne,Rajasthan Royals,3,16,0
5050,Rajasthan Royals,DL Vettori,Delhi Daredevils,3,35,0
1390,Delhi Daredevils,D Salunkhe,Rajasthan Royals,3,11,5
1906,Delhi Daredevils,SK Trivedi,Rajasthan Royals,3,32,3
5083,Rajasthan Royals,GD McGrath,Delhi Daredevils,3,21,1
1947,Delhi Daredevils,SR Watson,Rajasthan Royals,3,31,1
...,...,...,...,...,...,...
6623,Sunrisers Hyderabad,JO Holder,Kolkata Knight Riders,575,33,2
3170,Kolkata Knight Riders,Bipul Sharma,Sunrisers Hyderabad,575,18,2
6750,Sunrisers Hyderabad,R Sathish,Kolkata Knight Riders,575,9,0
3161,Kolkata Knight Riders,BCJ Cutting,Sunrisers Hyderabad,575,14,0
3480,Kolkata Knight Riders,Mustafizur Rahman,Sunrisers Hyderabad,575,30,2
3160,Kolkata Knight Riders,BB Sran,Sunrisers Hyderabad,575,33,4
2137,Gujarat Lions,TA Boult,Sunrisers Hyderabad,576,39,2
2068,Gujarat Lions,Bipul Sharma,Sunrisers Hyderabad,576,21,0
6563,Sunrisers Hyderabad,DS Kulkarni,Gujarat Lions,576,32,0
6786,Sunrisers Hyderabad,SK Raina,Gujarat Lions,576,15,0
6559,Sunrisers Hyderabad,DR Smith,Gujarat Lions,576,29,0
6709,Sunrisers Hyderabad,P Kumar,Gujarat Lions,576,33,2
2066,Gujarat Lions,BCJ Cutting,Sunrisers Hyderabad,576,20,0
2101,Gujarat Lions,MC Henriques,Sunrisers Hyderabad,576,27,0
6553,Sunrisers Hyderabad,DJ Bravo,Gujarat Lions,576,32,0
2062,Gujarat Lions,B Kumar,Sunrisers Hyderabad,576,27,2
6777,Sunrisers Hyderabad,S Kaushik,Gujarat Lions,576,22,0
2065,Gujarat Lions,BB Sran,Sunrisers Hyderabad,576,28,1
6544,Sunrisers Hyderabad,CJ Jordan,Royal Challengers Bangalore,577,47,8
6601,Sunrisers Hyderabad,Iqbal Abdulla,Royal Challengers Bangalore,577,10,0
6812,Sunrisers Hyderabad,SR Watson,Royal Challengers Bangalore,577,61,2
5799,Royal Challengers Bangalore,BB Sran,Sunrisers Hyderabad,577,41,2
6090,Royal Challengers Bangalore,MC Henriques,Sunrisers Hyderabad,577,40,0
5800,Royal Challengers Bangalore,BCJ Cutting,Sunrisers Hyderabad,577,35,1
5806,Royal Challengers Bangalore,Bipul Sharma,Sunrisers Hyderabad,577,17,0
6859,Sunrisers Hyderabad,YS Chahal,Royal Challengers Bangalore,577,36,1
5790,Royal Challengers Bangalore,B Kumar,Sunrisers Hyderabad,577,29,5
6143,Royal Challengers Bangalore,Mustafizur Rahman,Sunrisers Hyderabad,577,38,1
6536,Sunrisers Hyderabad,CH Gayle,Royal Challengers Bangalore,577,24,3
6773,Sunrisers Hyderabad,S Aravind,Royal Challengers Bangalore,577,30,0

In [12]:
#6. What is the highest and the lowest total score made, give the name of the batting team and runs scored in each case
deliveries.groupby(['batting_team'])['total_runs'].agg(['min','max'])

                             min  max
batting_team
Chennai Super Kings            0    7
Deccan Chargers                0    7
Delhi Daredevils               0    7
Gujarat Lions                  0    6
Kings XI Punjab                0    6
Kochi Tuskers Kerala           0    7
Kolkata Knight Riders          0    7
Mumbai Indians                 0    7
Pune Warriors                  0    7
Rajasthan Royals               0    7
Rising Pune Supergiants        0    6
Royal Challengers Bangalore    0    7
Sunrisers Hyderabad            0    7

# 7. What is the most common way the players got out in the IPL? How many?

In [13]:
deliveries['dismissal_kind'].value_counts()

caught                   3954
bowled                   1251
run out                   697
lbw                       399
stumped                   222
caught and bowled         187
hit wicket                  8
retired hurt                8
obstructing the field       1
Name: dismissal_kind, dtype: int64

In [14]:
#8. Who is the highest wicket-taker for CSK? How many wickets?
pd.set_option('display.max_columns', None)
csk = deliveries.loc[deliveries['bowling_team'] == 'Chennai Super Kings']
csk = csk[csk['player_dismissed'].notnull()]
players = pd.DataFrame((csk.groupby('bowler')['player_dismissed'].count()))
players = players.reset_index()
arg = players['player_dismissed'].argmax()
players.loc[arg]
#value = 0
#for key, values in players.items():
#    if values > value:
#        value = values

bowler              R Ashwin
player_dismissed          99
Name: 26, dtype: object

In [15]:
#9. Add a column called 'Howzthat' that has shows 'Yay' if the corresponding player_dismissed column has non NaN value
# and 'Nay' if player_dismissed is NaN. Hint: lookat np.where()
import numpy as np
deliveries['player_dismissed'].fillna('X',axis = 0,inplace = True)    #129871
print(deliveries['player_dismissed'].value_counts(dropna = False).head())

X             129871
SK Raina         123
G Gambhir        119
RV Uthappa       115
RG Sharma        115
Name: player_dismissed, dtype: int64

In [16]:
deliveries['Howzthat'] = np.where(deliveries['player_dismissed'] == 'X', 'Nay', 'Yay')
deliveries['Howzthat'].value_counts()

Nay    129871
Yay      6727
Name: Howzthat, dtype: int64

In [17]:
#10. Add a column 'run_run' which checks total_runs column and say 
#'Duck' if total_runs is 0, 
#'come_on' if total_runs is 1 or 2,
# 'cool' if total_runs is 3,
# 'hit!' if total_runs is 4 or 6. 
# Hint: you can write a function using nested if-else and apply that function to df.total_runs
def run_run(number):
    if number == 0:
        return 'Duck'
    elif number == 1 or number == 2:
        return 'come_on'
    elif number == 3:
        return 'cool'
    elif number == 4 or number == 6:
        return 'hit!'
    else :
        return '_'

deliveries['run_run'] = deliveries['total_runs'].apply(lambda x: run_run(x))

In [18]:
deliveries['run_run1'] = deliveries['total_runs'].apply(lambda x: 'Duck' if x == 0 else ('come_on' if x == 1 or x == 2
                                                                                   else ('cool' if x == 3 
                                                                                   else ('hit!' if x == 4 or x == 6
                                                                                   else '_'))))

In [19]:
deliveries[['run_run','total_runs','run_run1']]

        run_run  total_runs run_run1
0       come_on           1  come_on
1          Duck           0     Duck
2       come_on           1  come_on
3          Duck           0     Duck
4          Duck           0     Duck
5          Duck           0     Duck
6       come_on           1  come_on
7          Duck           0     Duck
8          hit!           4     hit!
9          hit!           4     hit!
10         hit!           6     hit!
11         hit!           4     hit!
12         Duck           0     Duck
13         Duck           0     Duck
14         Duck           0     Duck
15      come_on           1  come_on
16         hit!           4     hit!
17      come_on           1  come_on
18         Duck           0     Duck
19            _           5        _
20         hit!           6     hit!
21      come_on           1  come_on
22         hit!           4     hit!
23         Duck           0     Duck
24      come_on           1  come_on
25         hit!           6     hit!
26         hit!           4     hit!
27      come_on           1  come_on
28         hit!           4     hit!
29         Duck           0     Duck
...         ...         ...      ...
136568  come_on           1  come_on
136569  come_on           1  come_on
136570     Duck           0     Duck
136571     Duck           0     Duck
136572  come_on           1  come_on
136573  come_on           1  come_on
136574     Duck           0     Duck
136575  come_on           2  come_on
136576     Duck           0     Duck
136577  come_on           1  come_on
136578     hit!           6     hit!
136579  come_on           1  come_on
136580     Duck           0     Duck
136581  come_on           1  come_on
136582  come_on           1  come_on
136583     Duck           0     Duck
136584  come_on           1  come_on
136585     hit!           4     hit!
136586  come_on           1  come_on
136587  come_on           2  come_on
136588     Duck           0     Duck
136589  come_on           1  come_on
136590  come_on           2  come_on
136591     hit!           6     hit!
136592  come_on           1  come_on
136593  come_on           2  come_on
136594     Duck           0     Duck
136595  come_on           1  come_on
136596  come_on           1  come_on
136597     hit!           4     hit!

[136598 rows x 3 columns]